.img1{
    margin-top: 10px;
    height: 500px;
    width: 500px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-height: 50vh;
}

.container-page1 {
    max-width: 1024px;
    margin: 0 auto;
}